{$DOMAIN:localhost} {
	@strapi path /admin /admin/* /api/* /upload /upload/* /uploads/* /content-manager/* /content-type-builder/* /i18n/* /_health /users-permissions/*

	handle @strapi {
		reverse_proxy cms:1337
	}

	handle {
		reverse_proxy frontend:3000
	}
}
